:root {

    /******************* Color Palette ********************/
    --color-primary: rgb(21 25 33);
    --color-secondary: rgb(40 40 40);
    --color-black: rgb(9 11 18);
    --color-progress-bar:rgb(91 91	91);
    --color-overlay-bar:rgb(194	194	194);
    --link-color: rgb(126 128 132);
    --padding-xs: 0.2rem;
    --padding-s: 0.5rem;
    --padding-m: 1rem;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

h5 {
    font-size: 12px;
    font-weight: lighter;
    color: var(--link-color);
}


/*************************** Container ********************************/

.container-full {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 60px;

}

.top-container {
    flex-grow: 1;
    display: flex;
    overflow: auto;

}

/* ai padri con flex grow dare l'overflow auto */

.main-container {
    flex-grow: 1;
    overflow: auto;
}

.navbar-bot {
    flex-shrink: 0;
    /* la height statica da togliere e sostituire con il contenuto */
    height: 100px;
}

/*************************  Sidebar Section  *************************/

.sidebar-top {
    flex-shrink: 0;

}

.sidebar-mid {
    flex-grow: 1;
    overflow: auto;

}

.sidebar-bot {
    flex-shrink: 0;
}

.sidebar-list {
    display: flex;
    flex-direction: column;

}

.sidebar .sidebar-list a {
    display: flex;
    justify-content: center;
}

.sidebar-mid .container-playlist {
    display: none;
}

.logo-l {
    display: none;
}


.logo-s {
    display: block;
    width: 100%;
    filter: invert(1);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding: 0.7rem;
}

.logo-s-john {
    display: block;
    width: 100%;
    filter: invert(1);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding: 0.7rem;
    background-color: lightgrey;
    border-radius: 50%;
}

.logo-xs {
    display: block;
    width: 100%;
    filter: invert(1);
    object-fit: contain;
    padding: 1rem;
}

.list-icon {
    display: flex;
    padding: 0.3rem;
    font-size: 1.5rem;
    align-items: center;

}

.list-icon .john {
    display: none;
}

.list-text {
    display: none;
}

.btn {
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 25px;
    font-size: 12px;
    padding: 0.7rem;
    cursor: pointer;
    margin-top: 0.8rem;
}

/************************ Main Container Row  *************************/

.row {
    display: flex;
    flex-wrap: wrap;
}


.upgrade-bar {
    flex-basis: 100%;
    text-align: end;
    /* height statica da togliere con l'aggiunta del contenuto */
    height: 65px;
}

.menu {
    padding: 1rem;
    font-size: 0.7rem;
    flex-basis: 100%;
    text-align: center;
}

.row .menu a {
    padding: 0.5rem;
}

/**************************** Card Section *****************************/

.card {
    padding: 0.5rem;
}

.card-img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-border {
    border-radius: 50%;
}

.col {
    flex-basis: 100%;
}

.col-1-2 {
    flex-basis: calc(100% / 2);
}


.title-and-sub {
    text-align: center;
    padding: 0.3rem;
}

/***************** card img hover effect  ***********/

.img-container {
    position: relative;
}

.card:hover .img-effect {
    opacity: 1;
}

.card:hover .img-effect-border {
    opacity: 1;
}

.img-effect {
    position: absolute;
    top: 0%;
    padding: 0.7rem 1rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    opacity: 0;
    backdrop-filter: blur(10px);
    transition: opacity .5s, backdrop-filter .5s;
}

.img-effect-border {
    position: absolute;
    top: 0%;
    border-radius: 50%;
    /* padding: 0.7rem 1rem; */
    aspect-ratio: 1/1;
    font-size: 2rem;
    opacity: 0;
    backdrop-filter: blur(10px);
    transition: opacity .5s, backdrop-filter .5s;
}


/***********************  NavBar  ************************/

.navbar-bot {
    display: flex;
    flex-shrink: 0;
}

.left-nav {
    flex-basis: 25%;
    align-self: center;
    display: flex;
    /* flex-shrink: 0; */
}

.center-nav {
    flex-basis: 50%;
    padding: 0 2rem;
    /* flex-grow: 1; */
}

.right-nav {
    flex-basis: 25%;
    padding: 0 1rem;
    /* flex-shrink: 0; */
    align-self: center;
}

.volume-buttons {
    display: flex;
}

.volume-buttons i {
    padding: 0.4rem;
    font-size: 12px;
}

.song-progress-bar {
    align-self: center;
}

.buttons-container {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.buttons-container i {
    padding-right: 1rem;
    cursor: pointer;
}

.progress-container {
    padding: 1rem;
    position: relative;
    padding-bottom: 2.5rem;
}


.song-progress-bar {
    height: 8px;
    border-radius: 5px;
    background-color:var(--color-progress-bar);
     min-width: 75%;
}



.progress-container .progress-overlay {
    height: 8px;
    border-radius: 5px;
    background-color:var(--color-overlay-bar);
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 25%;
}

.progress-container .volume-buttons .progress-overlay {
    height: 8px;
    border-radius: 5px;
    background-color: var(--color-overlay-bar);
    position: absolute;
    left: 5.8rem;
    top: 1.5rem;
    width: 25%;
}

.left-nav .icon-left-nav i {
    padding-right: 0.5rem;
}

.time {
    position: absolute;
    left: -1.4rem;
    top: 10px;
    font-size: 14px;
}

.time-2 {
    position: absolute;
    right: -1.5rem;
    top: 10px;
    font-size: 14px;
}

.img-nav {
    width: 60px;
    min-width: 30px;
    padding: 0.2rem;
}



/********************** Utility **********************/

.spacing-xs {
    padding: var(--padding-xs);
}

.spacing-s {
    padding: var(--padding-s);
}

.spacing-m {
    padding: var(--padding-m);
}

.primary-color {
    background-color: var(--color-primary);
}

.back-black {
    background-color: var(--color-black);
}

.secondary-color {
    background-color: var(--color-secondary);
}

.inline-block {
    display: inline-block;
}