* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}


/*************************** Container ********************************/

.container-full {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 60px;

}

.top-container {
    flex-grow: 1;
    display: flex;

}

/* ai padri con flex grow dare l'overflow auto */

.main-container {
    flex-grow: 1;
    overflow: auto;
}

.navbar-bot {
    flex-shrink: 0;
    /* la height statica da togliere e sostituire con il contenuto */
    height: 100px;
}

/*************************  Sidebar Section  *************************/

.sidebar-top {
    flex-shrink: 0;

}

.sidebar-mid {
    flex-grow: 1;
    overflow: auto;

}

.sidebar-bot {
    flex-shrink: 0;
}

.sidebar-list {
    display: flex;
    flex-direction: column;

}

.sidebar .sidebar-list a {
    display: flex;
    justify-content: center;
}

.sidebar-mid .container-playlist {
    display: none;
}

.logo-l {
    display: none;
}

.logo-s {
    display: block;
    width: 100%;
    filter: invert(1);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding: 0.7rem;
}

.logo-xs {
    display: block;
    width: 100%;
    filter: invert(1);
    object-fit: contain;
    padding: 1rem;
}

.list-icon {
    padding: 0.3rem;
    font-size: 1.5rem;
    align-items: center;

}

.list-text {
    display: none;
}

.btn {
    background-color: black;
    color: white;
    border: 1px solid red;
    border-radius: 25px;
    font-size: 12px;
    padding: 1rem;
    cursor: pointer;
}

/************************ Main Container Row  *************************/

.row {
    display: flex;
    flex-wrap: wrap;
}


.upgrade-bar {
    flex-basis: 100%;
    text-align: end;
    /* height statica da togliere con l'aggiunta del contenuto */
    height: 50px;
}

.menu {
    padding: 1rem;
    font-size: 0.7rem;
    flex-basis: 100%;
    text-align: center;
}

.row .menu a {
    padding: 0.5rem;
}

/**************************** Card Section *****************************/

.card {
    padding: 0.5rem;
}

.card-img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-border {
    border-radius: 50%;
}

.col {
    flex-basis: 100%;
}

.col-1-2 {
    flex-basis: calc(100% / 2);
}


.title-and-sub {
    text-align: center;
    padding: 0.3rem;
}

/***************** card img hover effect  ***********/

.img-container {
    position: relative;
}

.card:hover .img-effect {
    opacity: 1;
}

.card:hover .img-effect-border {
    opacity: 1;
}

.img-effect {
    position: absolute;
    top: 0%;
    padding: 0.7rem 1rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    opacity: 0;
    backdrop-filter: blur(10px);
    transition: opacity .5s, backdrop-filter .5s;
}

.img-effect-border {
position: absolute;
top: 0%;
border-radius: 50%;
/* padding: 0.7rem 1rem; */
aspect-ratio: 1/1;
font-size: 2rem;
opacity: 0;
backdrop-filter: blur(10px);
transition: opacity .5s, backdrop-filter .5s;
}

