/* Media query Small */

@media screen and (min-width: 568px) {
    .sidebar {
        width: 250px;
    }

    .sidebar .sidebar-list a {
        display: flex;
        justify-content: flex-start;
        flex-basis: 20%;
        padding: 0.2rem;
    }

    .sidebar-mid .container-playlist {
        display: grid;
        padding: 0.5rem;
    }

    .sidebar-mid .container-playlist a {
        padding: 0.5rem 0;
    }

    .list-text {
        display: inline-block;
        align-self: center;
    }

    .logo-s {
        display: none;
    }

    .logo-l {
        display: block;
        filter: invert(1);
        height: 60px;
        padding: 0.5rem;
    }

    .logo-xs {
        display: block;
        width: 100%;
        filter: invert(1);
        object-fit: contain;
        padding: 1rem;
        height: 50px;
    }

    .list-icon .john {
        display: block;
    }

}


/* Media Query Medium */

@media screen and (min-width: 768px) {
    .col-1-4 {
        flex-basis: calc(100% / 4);
    }

    .john {
        display: inline-block;
    }
}

/* Media Query Large */

@media screen and (min-width: 992px) {
    .col-1-6 {
        flex-basis: calc(100% / 6);
    }

    .list-icon .john {
        display: block;
    }
}